Binaries/*
Plugins/*/Binaries/*

DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.exe
*.out
*.app
*.ipa
*.mod

Plugins/*/Binaries/*/*.pdb
Plugins/*/Binaries/*/*Debug*
Plugins/*/Binaries/*/*-[0-9][0-9][0-9][0-9].dll

Build/
ArchivedBuilds/
ci/

